<table>
    <tr>
        Hello! <%=token.user.name%>
    </tr>
    
    <tr>
        <td>
            Your password reset link is : <a href="http://localhost:8000/accounts/reset/?accessToken=<%=token.accessToken%>">RESET PASSWORD</a>
        </td>
    
    </tr>
    
    <tr>
        <td>
            ThankYou !
        </td>
    
    </tr>
    
    </table>